*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

html,body,main{
    height:100%;
    width: 100%;
}
.calculadora{
    width: 40%;
    height: 70%;
    border:  solid 1px black;
    margin:30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display{
    margin: 10px 0;
    height: 40px;
    width: 90%;
    border: solid 1px;
    text-align: right;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 25px;

}

.operaciones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
input[type=text]{
    width: 60px;
    height: 40px;
}
#simbolo{
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

.botones{
    display: grid;
    width: 80%;
    justify-items: center;
}

.boton{
    height: 45px;
    width: 45px;
    margin: 5px;
}
@media (max-width:800px){
    .boton{
        height: 30px;
        width: 30px;
        margin: 5px;
    }
    body{
        background-color: greenyellow;
    }
}